*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidebar{

    width: 30%;
    height: 100vh;
    background-color: white;
}
.sidebar ul{
    padding: 20px;
    list-style: none;
    text-align: center;

}
.sidebar ul li a{
 font-size: 4em;
 text-decoration: none;
 color: #000;

}
.page{
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: black;
 color: #fff;
}