

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.delbtn{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 1em;
}
.delbtn:hover{
    background-color: black;
    color:blanchedalmond;
    transition: 0.4s;
}

.cover{
    width: 100%;
    height: 100vh;
   background-color: #fff;
display: flex;
font-family:Verdana, Geneva, Tahoma, sans-serif;
justify-content: center;

transition: 0.4s background-color;
}


.main-container{
    width:80vw;

}

section{
    margin-top:25px ;
}
.section-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.section-header>h1{
margin-right: auto;
font-size: 2em;
}
.section-header > a{
    text-decoration: none;
    border-radius: 3em;
    background-color: #eef;
    color: black;
    
    vertical-align: center;
padding: 10px 15px;
}
.search-bar{
    width: 100%; 
    padding: 10px 15px;
    margin-bottom: 20px;
}
.search-bar > .notes-search{
    width: 100%;
    padding: 7px;
    border-radius: 1em;

}
.search-bar>.notes-search:hover {
    outline: transparent;

}

.notes-container{
    display: grid;
 grid-gap: 1rem;
 grid-template-columns: repeat(auto-fill,
     minmax(250px, 1fr));
 }


.single-note{
    
    font: 1em sans-serif;
    height: 300px;

    margin-right:1em ;
    margin-bottom: 1em;
border-radius: 1em;
padding: 10px;
    background-color: rgb(151, 218, 214);
}
.single-note > textarea{
    resize: none;
    width: 100%;
    white-space: pre-wrap;
    background-color: inherit;
    border: none;
    padding: 0px;
  
    margin-bottom: 200px;
}
.single-note>textarea:focus{

outline:transparent;
    
}
 .list{
     background-color:#efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list >div{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save-section{
    display: flex;

}
.save-section>p{
    margin-right: auto;
    font-size: large;
    padding: 12px;
}
.save-btn{
       text-decoration: none;
       border-radius: 3em;
       background-color: #eef;
       color: black;

       vertical-align: center;
       padding: 15px 15px;
}
.delete-btn{
border: 1px solid #eef;
border-radius: 2em;
}